body {
  font-family: Open Sans;
  cursor: default;
}

.desktop {
  position: absolute;
  x: 0px;
  y: 0px;
  width: 100%;
  height: 100%;
  background-image: url(bg.jpg);
  background-size: 100% ;
  z-index: 1;
}

.systray-bar {
  position: absolute;
  y: 0px;
  right: 0px;
  float: right;
  height: 30px;
  display: block;
  z-index: 91;
}

.systray-clock {
  float: right;
  display: block;
  font-size: 1.5em;
  color: #888;
}

.menu-event-box {
  -webkit-transition: all 300ms ease-out;
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #111;
  opacity: 0;
  z-index: 80;
  draggable: false;
  width: 100%; 
  height: 100%;
}

.menu-container {
  -webkit-transition: all 100ms ease-out;
  position: fixed;
  color: #888;
  top: 0px;
  background-color: #444; //#0055d4;
  margin: 0px;
  padding: 20px;
  border-color: #fff;
  border-width: 1px;
  border-bottom-style: solid;
  font-size: 1.3em;
  height: 100%;
  width: 340px;
}

.menu-container-primary {
  left: -345px;
  z-index: 500;
  margin: 0px;
  padding: 0px;
  border-right-style: solid;
}

.menu-container-secondary {
  background-color: #777; //#3085e4;
  left: -345px;
  z-index: 498;
  top: 0px;
  padding: 0px;
  margin: 0px;
  width: 370px;
  border-right-style: solid;
}

.menu-container-launcher {
  left: auto;
  right: 10000px;
  z-index: 500;
  margin: 0px;
  padding: 0px;
  border-left-style: solid;
  width: 400px;
}

.menu-launcher-button {
  background-image: url(distribution-logo.png);
  height: 24px;
  position: absolute;
  x: 0;
  y: 0;
  z-index: 1000;
  cursor: pointer;
}

.desktop-launcher-button {
  height: 24px;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 1000;
  cursor: pointer;
}

.menu-text {
  color: #fff;
}


.nav-list {
  margin-top: 20px;
}

.menu-container-primary-open {
  left: 0px;
}

.menu-container-primary-closed {
  left: -345px;
}

.menu-container-launcher-open {
  right: 0px;
}

.menu-container-launcher-closed {
  right: 10000px;
}

.menu-container-secondary-open {
  left: 340px;
}

.menu-container-secondary-closed {
  left: -375px;

}

.menu-event-box-open {
  opacity: 0.8;
}

.menu-event-box-closed {
  opacity: 0;
}

.sub-menu-entry {
  cursor: pointer;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: start;
  -webkit-box-align: center;
  font-size: 1.2em;
  color: white;
  padding: 15px;
  padding-left: 30px;
  margin: 0px;
  text-decoration: none;
}

.sub-menu-entry.active {
  background-color: #3085e4;
}

.nav {
  padding: 0px;
  margin: 0px;
}

.menu-container-title {
  padding-top: 30px;
  padding-left: 20px;
}

.menu-container-secondary-content {
  -webkit-transition: all 200ms ease-out;
  position: fixed;
  color: #fff;
  margin: 0px;
  font-size: 1.0em;
  width: 370px;
  z-index: 502;
}

.sub-menu-icon {
  -webkit-transition: all 200ms ease-out;
  width: 32px;
  margin-right: 10px;
}

.sub-menu-entry:hover {
}

.application-window {
  z-index: 80;
  position: fixed;
  top: 100px;
  left: 200px;
}

.panel {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 32px;
  background-color: #888;
  padding-left: 32px;
  padding-right: 32px;
  margin: 0px;
  z-index: 90;
}

.panel-icon {
  width: 30px;
}

.workspace-switcher-wrapper {
  display: -webkit-box; 
  margin-left: auto;
  margin-right: auto;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.workspace-switcher {
  display: inline-block;
  border-radius: 5px;
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
  width: 42px;
  height: 42px;
}

.launcher-entry-wrapper {
  display: inline-block; 
  width: 125px;
  max-height: 120px;
  vertical-align: top;
  margin-bottom: 50px;
}

.launcher-entry {
  width: 125px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: start;
  -webkit-box-align: center;

  cursor: pointer;
  text-align: center;
  z-index: inherit;
}


.launcher-entry-img-holder {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
  -webkit-box-align: center;

  margin-top: 0px;
  width: 70px;
  height: 70px;
}

.launcher-entry img {
  width: 48px;
  height: 48px;
  -webkit-transition: all 100ms ease-out;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

.launcher-entry img:hover {
  width: 70px;
  height: 70px;
}

.launcher-entry span:hover {
  text-shadow: 0 2px 2px #000;
}

.launcher-entry span {
  word-wrap: break-word;
  display: block;
  text-align: center;
  color: white;
  text-shadow: 0 1px 1px #000;
  width: inherit;
  height: inherit;
  margin-left: auto;
  margin-right: auto;
  font-size: 14px;
}

